.contact-us{
    margin-left: 25%;
}

    .container-div{
        background:palevioletred;
        height: 70vh;
        width: 100%;
        margin: 10%;
     
    }
.form-class{
    width: 50%;
    background: whitesmoke;
  justify-content: center;
  margin-top: 10%;
  margin-left: 20%;
border: 2px solid black;
border-radius: 10px;
height: 60vh;


}
.form-control{
    padding: 10px;

}
input.ng-invalid,select.ng-invalid{
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(red, green, blue, alpha);
}