<!-- <div class="card" style="width: 15rem;">
    <img src="/assets/6t8Zh249QiFmVnkQdCCtHK.jpg" class="card-img-top" style="height: 200px;" alt="...">
    <div class="card-body">
      <h5 class="card-title"> laptop</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLinkActive="laptop" class="btn btn-success">buy here</a>
    </div>
  </div> -->
  <div class="mt-4 pt-4">
    <div class="container bg-light">
        <h1>mobile</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, dolorem.</p>
            <button class="btn btn-success" (click)="btnClick()">Newslettersubscribe</button>
        </div>
  
    </div>
    <div class="container bg-light">
      <h1>laptop</h1>
      <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, dolorem.</p>
          <button class="btn btn-success">Newslettersubscribe</button>
      </div>
  </div>
 </div>