<nav class="navbar navbar-expand-lg navbar-dark bg-dark header-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">(COHORT)</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="Home"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Menu" routerLinkActive="active-link"
            >Menu</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="About" routerLinkActive="active-link"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="Contact"
            routerLinkActive="active-link"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
