<div class="cotainer-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>CUBOONTEAM</h1>
            <p>LEARN GROW ,EXPERT</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="Menu">Menu</a>
            <a routerLink="About">About</a>
            <a routerLink="Contact">Contact</a>
        </div>
        <!-- social media -->
        <div class="col-lg-2">
            <a href="7278023168" target="_blank"><i class="bi bi-phone"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube"></i></a>
            <p class="text-light"><strong>:-Rahul,7278023168</strong></p>
        </div>
    </div>
</div>
