<!-- <div class="container">
    <div class="col-md-4">
        <select  calss="form-control" (change)="getProductVal($event)">
            <option value="Default">select one</option>
            <option value="laptop">laptop</option>
            <option value="tv">tv</option>
            <option value="mobile">mobile</option>
            <option value="washing machine">washing machine</option>
        </select>
    </div>
    <div class="col-md-12"[ngSwitch]="selectedProduct">
         <h2 class="text-success" *ngSwitchDefault>please select product</h2>
         <h2 class="text-success" *ngSwitchCase="'laptop'">laptop</h2>
         <h2  class="text-success"*ngSwitchCase="'tv'">tv</h2>
         <h2 class="text-success" *ngSwitchCase="'mobile'">mobile</h2>
         <h2  class="text-success" *ngSwitchCase="'washing machine'">washing machine</h2>
    </div>
</div> -->
