<div class="container-fluid mt-5 mb-5">
<img src="" style="width:100%">
<h1 class="text-center">About</h1>
<p>A web developer is a programmer or a coder who specializes in, or is specifically engaged in, the development of World Wide Web applications using a client–server model. The applications typically use HTML, CSS and JavaScript in the client, PHP, ASP.NET (C#), Python, Node.js, Go or Java in the server, and http for communications between client and server. A web developer may specialize in client-side applications (front-end developer), server-side applications (back-end developer), or both (full-stack developer). A web content management system may be used to develop and maintain web applications.</p>
<br>
<h2>What is web development?</h2>
<p>A web developer’s job is to create websites. While their primary role is to ensure the website is visually appealing and easy to navigate, many web developers are also responsible for the website’s performance and capacity. </p>
<br>
<h2>Types of web developers</h2>
<p>Types of web developers
    Web developers usually fall under one of three categories: back-end developers, front-end developers, and full-stack developers. Some web developers also work as webmasters. Let’s take a closer look at each of these roles.
    
    <strong>Back-end web developers</strong> create the website’s structure, write code, and verify the code works. Their responsibilities also may include managing access points for others who need to manage a website’s content.
    
   <strong> Front-end web developers </strong> on the visual part of the website—the pages visitors see and interact with (also known as the user interface). They design the physical layout of each page, integrate graphics, and use HTML and JavaScript to enhance the site.
    
    <strong>Full-stack developers</strong> do the work of both a back-end and front-end developer. These developers have the knowledge to build a complete website and may work for organizations that don’t have the budget for a large website team.
    
    <strong>Webmasters </strong>are essentially website managers. Their primary responsibility is to keep the website updated, ensuring that the links and applications on each page work properly.</p>
</div>