<!-- <div class="mt-4 pt-4">
  <h1 class="text-center">Buy Products</h1>
  <div class="row d-flex flex-wrap justify-content-center">
    <div class="col-md-2">
      <div class="card" style="width: 15rem">
        <img
          src="/assets/6t8Zh249QiFmVnkQdCCtHK.jpg"
          class="card-img-top"
          style="height: 200px"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">laptop</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLinkActive="laptop" class="btn btn-success">select</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" style="width: 15rem">
        <img
          src="/assets/realme-tv-32-original-imafrz79pweqeafh.webp"
          style="height: 200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">tv</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="tv" class="btn btn-success">select</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" style="width: 15rem">
        <img
          src="/assets/41iHN9Y07cS.jpg"
          class="card-img-top"
          style="height: 200px"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">mobile</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="mobile" class="btn btn-success">select</a>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-flex flex-wrap justify-content-end">
      <div class="card" style="width: 15rem">
        <img
          src="/assets/229553_u1e0dq.png"
          class="card-img-top"
          style="height: 190px"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">washing machine</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="washing machine" class="btn btn-success">select</a>
        </div>
      </div>
    </div>
  
    <app-child ></app-child>
    
  </div>
</div> -->
