<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/images.png" class="logo-mg" alt="" />
      </div>
      <div class="image"></div>
      <div class="text">
        Start for free & get <br />
        attractive offers today !
      </div>
    </div>
    <form id="form">
      <div class="social">
        <div class="title">Get Started</div>
        <div class="question">
          Already Have an Account? <br />
          <span>Sign In</span>
        </div>
  
        <div class="btn">
          <div class="btn-1">
            <img src="https://img.icons8.com/color/30/000000/google-logo.png" />
            Sign Up
          </div>
          <div class="btn-2">
            <img src="https://img.icons8.com/ios-filled/30/ffffff/facebook-new.png" />
            Sign Up
          </div>
        </div>
  
        <div class="or">Or</div>
      </div>
  
      <!-- /** 
            * ! user name Input here
           **/ -->

<!-- <div>
        <label for="username">User Name</label>
        <i class="fas fa-user"></i>
        <input type="text" name="username" id="username" placeholder="username" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div> -->

<!-- /** 
            * ! Email Input here
           **/ -->
<!--   
      <div>
        <label for="email">Email</label>
        <i class="far fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="enter your email" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div> -->

<!-- /** 
            * ! Password Input here
           **/ -->

<!-- <div>
        <label for="password">Password</label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="Password here" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>
  
      <button type="submit" id="submit">Submit</button>
    </form>
  </div>
</body>
</html> -->
<div class="conrtainer mt-5 mb-5 ">
  <div class="row">
    <div class="col-lg-6">
      <a routerLink="../../Menu" class="btn btn-sm btn-dark mb-3">back</a>
      <img src="{{ menuData[0].courseImg }}" width="100%" />
      <h1 class="mt-3">{{ menuData[0].courseName }}</h1>
      <p>{{ menuData[0].courseDetails }}</p>
      <p>{{ menuData[0].courseFee | currency: "INR" }}</p>
    </div>
  </div>
  <!-- here to start form -->
  <div class="col-lg-6">
    <h1>Fill your details</h1>

    <form>
      <input type="text" placeholder="Enter your name" class="form-control" />
      <input
        type="number"
        placeholder="Enter your mobile number"
        class="form-control"
      />
      <input type="email" placeholder="Enter your email" class="form-control" />
      <input
        type="password"
        placeholder="Enter your password"
        class="form-control"
      />
      <textarea
        placeholder="enter your full address"
        class="form-control"
      ></textarea>
      <button class="btn btn-md btn-dark">Submit</button>
    </form>
  </div>
</div>
