<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3">
    <div class="container">
      <a href="#" class="navbar-brand text-uppercase font-weight-bold"></a>

      <div id="navbar" class="collapse navbar-collapse products-move">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a href="#" class="nav-link text-uppercase font-weight-bold"><span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-div">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eius
    sapiente cumque atque laboriosam sit id similique nisi modi laudantium
    labore est repellendus dolorem omnis inventore, officia exercitationem,
    aliquid consequuntur!
  </p>
<div class="row d-flex flex-wrap">
    <div class="col-md-2">
      <div class="card" style="width: 15rem;">
        <img src="/assets/6t8Zh249QiFmVnkQdCCtHK.jpg" class="card-img-top" style="height: 200px;" alt="...">
        <div class="card-body">
          <h5 class="card-title"> laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLinkActive="laptop" class="btn btn-success">buy here</a>
        </div>
      </div>
    </div>
  
 
  
    <div class="col-md-2">
      <div class="card" style="width: 15rem;">
        <img src="/assets/realme-tv-32-original-imafrz79pweqeafh.webp" style="height: 200px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> tv</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tv"  class="btn btn-success">buy here</a>
        </div>
      </div>
    </div>
  
 

    <div class="col-md-2">
      <div class="card" style="width: 15rem;">
        <img src="/assets/41iHN9Y07cS.jpg" class="card-img-top"  style="height: 200px;"alt="...">
        <div class="card-body">
          <h5 class="card-title">mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="mobile"  class="btn btn-success">buy here</a>
        </div>
      </div>
    </div>
  
    <div class="col-md-2 d-flex flex-wrap justify-content-end">
      <div class="card" style="width: 15rem;">
        <img src="/assets/229553_u1e0dq.png" class="card-img-top" style="height:190px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">washing machine</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="washing machine"  class="btn btn-success">buy here</a>
        </div>
      </div>
    </div>
</div>
</div>
